.block-row{
  align-items: center; 
  display: flex; 
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.block-column{
  display: flex; 
  align-items: center; 
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

.info-text{
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  color: red;
}

#DebitAccount-container {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
}

.DebitAccount-block{
  padding: 0;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  padding: 15px;
  
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.DebitAccount-blocks .type,
.DebitAccount-blocks .description,
.DebitAccount-blocks .startDate,
.DebitAccount-blocks .endDate{  
  margin: 5px 15px;
}