.block-row{
  align-items: center; 
  display: flex; 
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.block-column{
  display: flex; 
  align-items: center; 
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

.info-text{
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  color: gold;
  text-shadow: 1px 2px 2px 4px #000000;;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

#DebitAccount-container,
#Operstions-container,
#Money-container {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
}

.DebitAccount-block,
.Operstions-block{
  color: gold;
  text-shadow: 1px 2px 2px 6px #000000;;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

 button {
  margin-bottom: 15px;
  font-size: 20px;
  background: none; 
  color: rgb(9, 53, 9);
  text-shadow: 1px 2px 2px 6px #000000;;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  padding: 5px;
  cursor: pointer;
}

input { 
  margin-bottom: 15px;
  font-size: 20px;
  background: none; 
  color: black;
  text-shadow: 1px 2px 2px 6px #000000;;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  padding: 5px;
  cursor: pointer;
}

.DebitAccount-block .name,
.DebitAccount-block .balance,
.DebitAccount-block .status,
.DebitAccount-block .createdDate,
.Operstions-block .date,
.Operstions-block .time,
.Operstions-block .amount,
.Operstions-block .comment,
.Operstions-block .operationType{  
  margin: 5px 15px;
}
